/* Section */
.profile .section {
  /* color: #fff; */
  width: 60%;
  right: 20%;
  left: 20%;
  position: relative;
  /* min-height: 100vh; */
  padding-bottom: 80px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.profile .section-heading {
  text-align: center;
  padding: 60px 45px;
}

.profile .section-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.profile .section-heading .line-dec {
  width: 60px;
  height: 3px;
  background-color: #a43f49;
  margin: 10px auto;
}

.profile .section-heading span {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
}

.profile {
  background: url("../images/page-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.profile h4 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.25px;
}

.profile p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.profile label {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* Left & Right Post */
.profile .right-image-post {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.profile .left-image-post {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.profile .left-image-post:nth-child(2) {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}

.profile .left-image-post img {
  margin-bottom: 30px;
}

.profile .right-image-post img {
  margin-top: 30px;
}

.profile .left-image img,
.profile .right-image img {
  border-radius: 5px;
  width: 60%;
}

.profile .right-image-post h4,
.profile .left-image-post h4 {
  margin-top: 30px;
}

.profile .right-image-post p,
.profile .left-image-post p {
  margin-top: 20px;
}

.profile .right-image-post .white-button,
.profile .left-image-post .white-button {
  margin-top: 30px;
}

.profile .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.profile .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Buttons */

.profile .white-button a {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  color: #325fb3;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.profile .white-button a:hover {
  background-color: #325fb3;
  color: #fff;
}

.profile button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #325fb3;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile button:hover {
  outline: none;
  background-color: #325fb3;
  /* color: #fff; */
}

.profile .google-play-width {
  max-width: 100%;
}
.profile .google-play-icon {
  max-width: 50%;
}

/* Services */
.profile .my-services .col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.profile .service-item {
  margin-bottom: 10px;
  padding: 50px;
  background-color: rgba(250, 250, 250, 0.1);
  transition: all 0.5s;
}

.profile .service-item h4 {
  transition: all 0.5s;
}

.profile .service-item p {
  transition: all 0.5s;
}

.profile .service-item:hover {
  background-color: rgba(250, 250, 250, 1);
}

.profile .service-item:hover h4 {
  color: #1e1e1e;
}

.profile .service-item:hover p {
  color: #4a4a4a;
}

.profile .service-item img {
  border-radius: 5px;
  width: 50%;
  display: inline-block;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
