.Crossword {
  background: url("../images/page-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.CrosswordGrid {
  text-align: center;
  position: relative;
  left: 25%;
  right: 25%;
}

.CrosswordRow {
  position: relative;
  text-align: left;
}

.WordGuesser {
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
  right: 25%;
}
